
<div class="topPageMessage">
  <h1>Hotel Reservation</h1>
</div>

<div class="hotel-form">
  <form>
    <div class="form-group">
      <label>Occupants</label> 
      <br>
      <input [(ngModel)]="formData.occupants" #occupants name="roomOccupants" />
      <!-- {{occupants.value}} -->
    </div>

    <!-- <div class="form-group">
      <label>Room Size</label>
      <br>
      <input [(ngModel)]="formData.roomsize" #roomsize name="roomsize" />
      {{roomsize.value}}
      <select [(ngModel)]="formData.roomsize" #roomsize name="roomsize">
          <option> 1 </option>
          <option> 2 </option>
          <option> 3 </option>
          <option> 4 </option>
          <option> 5 </option>
          <option> 6 </option>
          <option> 7 </option>
          <option> 8 </option>
          <option> 9 </option>
        </select>
        {{roomsize.value}}
    </div> -->

    <div class="form-group">
      <label>Price **price still needs to be auto calculated**</label>
      <br>
      <input [(ngModel)]="formData.price" #price name="roomprice" disabled/>
      <!-- {{price.value}} -->
    </div>

    <div class="form-group">

      <label>Location</label>
      <br>
      <input [(ngModel)]="formData.location" #location name="location" />
      <!-- {{location.value}} -->
    </div>

    <div class="form-group">
      <label>Duration</label>
      <br>
      <input [(ngModel)]="formData.duration" #duration name="duration" />
      <!-- <select [(ngModel)]="formData.duration" #duration name="duration">
        <option> 1 </option>
        <option> 2 </option>
        <option> 3 </option>
        <option> 4 </option>
        <option> 5 </option>
        <option> 6 </option>
        <option> 7 </option>
        <option> 8 </option>
        <option> 9 </option>
        <option> 10 </option>
      </select> -->
    </div>

    <div class="form-group">

      <label>Late Checkout</label>
      <br>
      <select [(ngModel)]="formData.latecheckout" #latecheckout name="latecheckout" disabled>
        <option> Yes, 12:00pm </option>
        <option> No </option>
      </select>
    </div>

    <button (click)="makeHotelRequest(occupants.value,location.value,duration.value)"> Submit </button>
  </form>
</div>
<div class="form-group">
  <table>
    <tr>
      <td><b> Booking ID </b></td>
      <td><b> occupants </b></td>
      <!-- <td>roomsize</td> -->
      <!-- <td>price</td> -->
      <td><b> location </b></td>
      <td><b> duration </b></td>
      <td><b> latecheckout </b></td>
    </tr>

    <tr *ngFor="let x of fillRequestTable; let i = index">
      <td>{{i}}</td>
      <td> {{x.occupants}}</td>
      <!-- <td> {{x.roomSize}}</td> -->
      <!-- <td> {{x.price}}</td> -->
      <td> {{x.location}}</td>
      <td> {{x.durationInDays}}</td>
      <td> {{x.lateCheckout}}</td>

    </tr>
  </table>
</div>